body {
    font-family: Arial;
    margin: 3000px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ddd;
    background-color: #5c5959;
}

ul p {
    color: #f5f5f5;
    padding: 14px 16px 0px 16px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #f5f5f5;
    text-align: center;
    padding: 0px 16px 14px 16px;
    text-decoration: none;
}

li p {
    display: block;
    color: #f5f5f5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

li a:hover:not(.active),
li p:hover:not(.active) {
    background-color: #ddd;
}

li a.active,
li p.active {
    color: white;
    background-color: #04aa6d;
}

.container {
    background-color: #c0bebe;
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
    display: inline-table;
    height: 250px;
    width: 200px;
}

.container input {
    margin-bottom: 10px;
}

.formLabel {
    display: inline-block;
    width: 300px;
    margin-right: 5px;
}

.errorsContainer {
    margin: 5px;
    padding: 5px;
    color: red;
}

.cardFornecedor {
    background-color: aliceblue;
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
    display: inline-table;
    height: 100px;
    width: 400px;
}
